<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Email.hostname" value="pop.gmail.com" />
    <add key="Email.port" value="995" />
    <add key="Email.useSsl" value="true" />
    <add key="Email.username" value="FeedbackForGlavsTalk@gmail.com" />
    <add key="Email.password" value="__EmailPassword__" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="Data.documentDbName" value="dddsydney2017"/>
    <add key="Data.documentDbCollection" value="mailcollection"/>
    
    <!--Local Config-->
    <add key="Data.documentDbEndpoint" value="https://172.24.4.132:8081/"/>
    <add key="Data.documentDbAccessKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw=="/>

  </appSettings>
</configuration>