<h1>Email results</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!emails"><em>Loading...</em></p>

<table class='table' *ngIf="emails">
    <thead>
        <tr>
            <th>From</th>
            <th>Date/Time(C)</th>
            <th>Sentiment Score</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let email of emails">
            <td>{{ email.from }}</td>
            <td>{{ email.timeOfMail }}</td>
            <td>{{ email.sentimentScore}}</td>
            <td>{{ email.body }}</td>
        </tr>
    </tbody>
</table>
